## Table of contents

### 01. Import Data and Libraries

### 02. Creating the regions

### 01. Import Data and Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Define path
path = r'C:\Users\iryna\Documents\Data analytics\Career foundry\4. Python\06-2022 Instacart Basket Analysis'

In [3]:
# Import Data
ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_sec_age_income_depend.pkl'))

In [4]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 34 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int32
 1   user_id                        int32
 2   order_number                   int8
 3   order_day_of_week              int8
 4   order_time_of_day              int8
 5   days_since_prior_order         float16
 6   product_id                     float64
 7   add_to_cart_order              float64
 8   reordered                      float64
 9   product_name                   object
 10  aisle_id                       int32
 11  department_id                  int32
 12  prices                         float64
 13  _merge                         category
 14  price_range_loc                object
 15  busiest day                    object
 16  busiest days                   object
 17  busiest_period_of_day          object
 18  max_order                      int8
 19  loyalty_flag                   object
 20  avg_price_spent                float64
 21  spender_flag                   object
 22  median_days_since_prior_order  float16
 23  order_frequency_flag           object
 24  gender_identity                object
 25  state                          object
 26  age                            int32
 27  date_joined                    object
 28  dependants_#                   int32
 29  marital_status                 object
 30  income                         int32
 31  age_group                      object
 32  income_level                   object
 33  profile                        object
dtypes: category(1), float16(2), float64(5), int32(7), int8(4), object(15)
memory usage: 6.2+ GB

In [5]:
# Changing data type into int32 to reduce the file size
ords_prods['product_id'] = ords_prods['product_id'].astype('float16')
ords_prods['add_to_cart_order'] = ords_prods['add_to_cart_order'].astype('float16')
ords_prods['reordered'] = ords_prods['reordered'].astype('float16')
ords_prods['prices'] = ords_prods['prices'].astype('float16')
ords_prods['avg_price_spent'] = ords_prods['avg_price_spent'].astype('float16')

In [6]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 34 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int32
 1   user_id                        int32
 2   order_number                   int8
 3   order_day_of_week              int8
 4   order_time_of_day              int8
 5   days_since_prior_order         float16
 6   product_id                     float16
 7   add_to_cart_order              float16
 8   reordered                      float16
 9   product_name                   object
 10  aisle_id                       int32
 11  department_id                  int32
 12  prices                         float16
 13  _merge                         category
 14  price_range_loc                object
 15  busiest day                    object
 16  busiest days                   object
 17  busiest_period_of_day          object
 18  max_order                      int8
 19  loyalty_flag                   object
 20  avg_price_spent                float16
 21  spender_flag                   object
 22  median_days_since_prior_order  float16
 23  order_frequency_flag           object
 24  gender_identity                object
 25  state                          object
 26  age                            int32
 27  date_joined                    object
 28  dependants_#                   int32
 29  marital_status                 object
 30  income                         int32
 31  age_group                      object
 32  income_level                   object
 33  profile                        object
dtypes: category(1), float16(7), int32(7), int8(4), object(15)
memory usage: 5.3+ GB

### 02. Creating the regions

In [7]:
# Conditions for 'Region'
result_region = []

for value in ords_prods['state']:
 
  if (value in ['Maine', 'New Hampshire', 'Vermont','Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']):
    result_region.append ('Northeast')
  elif (value in ['Wisconsin', 'Michigan', 'Illinois', 'Indiana','Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']):
    result_region.append ('Midwest')
  elif (value in ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama']):
    result_region.append ('South') 
  else: result_region.append ('West')

In [8]:
# Creating a new column
ords_prods['region']=result_region

In [9]:
# Checking the output
ords_prods['region'].value_counts(dropna = False)

West         10858672
South         8226126
Midwest       7597325
Northeast     5722736
Name: region, dtype: int64

In [10]:
ords_prods.shape

(32404859, 35)

In [11]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 35 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int32
 1   user_id                        int32
 2   order_number                   int8
 3   order_day_of_week              int8
 4   order_time_of_day              int8
 5   days_since_prior_order         float16
 6   product_id                     float16
 7   add_to_cart_order              float16
 8   reordered                      float16
 9   product_name                   object
 10  aisle_id                       int32
 11  department_id                  int32
 12  prices                         float16
 13  _merge                         category
 14  price_range_loc                object
 15  busiest day                    object
 16  busiest days                   object
 17  busiest_period_of_day          object
 18  max_order                      int8
 19  loyalty_flag                   object
 20  avg_price_spent                float16
 21  spender_flag                   object
 22  median_days_since_prior_order  float16
 23  order_frequency_flag           object
 24  gender_identity                object
 25  state                          object
 26  age                            int32
 27  date_joined                    object
 28  dependants_#                   int32
 29  marital_status                 object
 30  income                         int32
 31  age_group                      object
 32  income_level                   object
 33  profile                        object
 34  region                         object
dtypes: category(1), float16(7), int32(7), int8(4), object(16)
memory usage: 5.5+ GB

In [12]:
# Exporting the dataset
ords_prods.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_regions_final.pkl'))