## Table of contents

## 01. Importing Libraries

## 02 Importing Data

## 03 Data Consistency Check

## 04 Mix data checking

## 05 Addressing missing values

## 06 Checking duplicates

## TASK 4.5

## 01. Importing Libraries

In [5]:
# Import librarieshttp://localhost:8888/notebooks/Documents/Data%20analytics/Career%20foundry/4.%20Python/06-2022%20Instacart%20Basket%20Analysis/03%20Scripts/4.4%20Data%20Wrangling%20%26%20Subsetting.ipynb#01.-Importing-Libraries
import pandas as pd
import numpy as np
import os

## 02 Importing Data

In [6]:
path = r'C:\Users\iryna\Documents\Data analytics\Career foundry\4. Python\06-2022 Instacart Basket Analysis'

In [7]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [8]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

## 03 Data Consistency Check

In [9]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## 04 Mix data checking

In [10]:
# Create a dataframe
df_test = pd.DataFrame()

In [11]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [12]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [13]:
# Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [14]:
df_test['mix'] = df_test['mix'].astype('str')

## 05 Addressing missing values

In [15]:
# Finding missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [16]:
df_nan = df_prods [df_prods['product_name'].isnull()==True]

In [17]:
#creating a subset of the dataframe containing only the missing values
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [18]:
df_prods.shape

(49693, 5)

In [19]:
#Filtering out missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull()==False]

In [20]:
df_prods_clean.shape

(49677, 5)

In [21]:
#Removing missing values 
df_prods.dropna(subset = ['product_name'], inplace = True)

## 06 Checking duplicates

In [22]:
#Finding duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [23]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [24]:
# Removing duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [25]:
df_prods_clean_no_dups.shape

(49672, 5)

In [26]:
#Exporting
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

## TASK 4.5

In [29]:
#1 Import products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [30]:
#2 Run the df.describe() function on your df_prods dataframe. 
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

#### Min values are consistent, however, the maximum price is unexpected high and it might be an error which should be investigated further.

In [31]:
#3 Check for mixed types
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

####  #4 The df_ords doesn't have mixed-type data.

In [32]:
#5 Run a check for missing values in your df_ords dataframe.
df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

#### There are 206209 missing values in days_since_prior_order column. It might happen because new customers placed their first order. To distinguish between new and repeating customers, a new column is necessary to create.

In [33]:
#6 Address the missing values using an appropriate method.
df_ords_new = df_ords

In [34]:
df_ords_new['new_customer'] = df_ords['days_since_prior_order'].isnull() == True

In [35]:
df_ords_new

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_customer
0,2539329,1,prior,1,2,8,NaN,True
1,2398795,1,prior,2,3,7,15.0,False
2,473747,1,prior,3,3,12,21.0,False
3,2254736,1,prior,4,4,7,29.0,False
4,431534,1,prior,5,4,15,28.0,False
...,...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0,False
3421079,1854736,206209,prior,11,4,10,30.0,False
3421080,626363,206209,prior,12,1,12,18.0,False
3421081,2977660,206209,prior,13,1,12,7.0,False
3421082,272231,206209,train,14,6,14,30.0,False

#### The 'new_customer' column allows identify new and repeating customers.

In [36]:
#7 Run a check for duplicate values in your df_ords data.
df_ords_dups = df_ords_new[df_ords_new.duplicated()]

In [37]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order, new_customer]
Index: []

#### #8 No duplicates in df_ords_new

In [38]:
#9 Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

In [41]:
df_ords_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))