## 4.6 Combining & Exporting Data

## Table of contents

### 01. Importing libraries

### 02. Importing data

### 03. Consistency check

### 04. Combining Data

### 01. Importing libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

### 02. Importing data

In [2]:
# Define path
path = r'C:\Users\iryna\Documents\Data analytics\Career foundry\4. Python\06-2022 Instacart Basket Analysis'

In [3]:
# Import Data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Check the output
df_ords.head()

,Unnamed: 0,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [8]:
# Check the dimensions
df_ords.shape

(3421083, 7)

In [10]:
# Check the dimensions
df_ords_prior.shape

(32434489, 4)

### 03. Consistency check

In [11]:
# Check for missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [12]:
# Check for duplicates
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [13]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

### 04. Combining Data

### Plan A

In [14]:
df_ords.columns

Index(['Unnamed: 0', 'order_id', 'customer_id', 'order_number',
       'order_day_of_week', 'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [20]:
df_ords.drop(columns = ['Unnamed: 0'], inplace = True)

In [21]:
df_ords.columns

Index(['order_id', 'customer_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [22]:
df_ords.rename(columns = {'customer_id':'user_id', 'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [23]:
df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_time_of_day', 'days_since_prior_order'],
      dtype='object')

In [24]:
df_ords_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [25]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_time_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [28]:
# Change types for df_ords data set
df_ords['order_id'] = df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number'] = df_ords['order_number'].astype('int8')
df_ords['order_day_of_week'] = df_ords['order_day_of_week'].astype('int8')
df_ords['order_time_of_day'] = df_ords['order_time_of_day'].astype('int8')
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].astype('float16')

In [29]:
# Check output to see memory usage
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   order_day_of_week       int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 42.4 MB

In [31]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [32]:
# Change types for df_ords_prior data set 
df_ords_prior['order_id'] = df_ords_prior['order_id'].astype('int32')
df_ords_prior['product_id'] = df_ords_prior['product_id'].astype('int32')
df_ords_prior['add_to_cart_order'] = df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['reordered'] = df_ords_prior['reordered'].astype('int8')

In [33]:
# Check output to see memory usage
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [35]:
# Merging
df_ords_merged = df_ords.merge(df_ords_prior, on = ['order_id'], how = 'outer', indicator = True)

In [36]:
df_ords_merged

,order_id,user_id,order_number,order_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both
...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,13,1,12,7.0,38730.0,6.0,0.0,both
32640694,2977660,206209,13,1,12,7.0,31477.0,7.0,0.0,both
32640695,2977660,206209,13,1,12,7.0,6567.0,8.0,0.0,both
32640696,2977660,206209,13,1,12,7.0,22920.0,9.0,0.0,both
32640697,272231,206209,14,6,14,30.0,NaN,NaN,NaN,left_only

In [37]:
# Check the output
df_ords_merged['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [38]:
# Exporting to pickle format
df_ords_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))