## Table of contents

### 01. Importing Libraries

### 02. Importing data

### 03. Grouping Data with pandas

### 04. Aggregating Data with agg()

### 05. Aggregating Data with transform()

### 06. Deriving Columns with loc()

### 07. Task 4.8

### 01. Importing Libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

### 02. Importing data

In [2]:
# Define path
path = r'C:\Users\iryna\Documents\Data analytics\Career foundry\4. Python\06-2022 Instacart Basket Analysis'

In [3]:
# Import Data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_busiest.pkl'))

In [4]:
# Create a subset
df = ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 18)

In [6]:
df.head(10)

,order_id,user_id,order_number,order_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders
5,3367565,1,6,2,7,19.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
6,550135,1,7,1,9,20.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders
7,3108588,1,8,1,14,14.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders
8,2295261,1,9,1,16,0.0,196.0,4.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders
9,2550362,1,10,4,8,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders

### 03. Grouping Data with pandas

In [7]:
df.groupby('product_name')

### 04. Aggregating Data with agg()

In [8]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [9]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [12]:
## Performing Multiple Aggregations
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

### 05. Aggregating Data with transform()

In [13]:
# Create a loyalty flag using loc
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
# Checking the output
ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,10
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10
5,3367565,1,6,2,7,19.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10
7,3108588,1,8,1,14,14.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10
8,2295261,1,9,1,16,0.0,196.0,4.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10
9,2550362,1,10,4,8,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
10,2968173,15,15,1,9,7.0,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22
11,1870022,15,17,2,16,8.0,196.0,6.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22
14,487368,15,22,1,10,14.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22

In [15]:
# Checking the output
ords_prods_merge.head(100)

,order_id,user_id,order_number,order_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,10
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,3
96,1469869,377,3,5,17,3.0,196.0,9.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3
97,1927023,387,2,4,10,22.0,196.0,3.0,0.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,8
98,858092,420,4,1,19,30.0,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Average orders,22
99,119314,420,5,3,19,16.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,22

In [16]:
pd.options.display.max_rows = None

In [24]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,order_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
6,550135,1,7,1,9,20.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,196.0,4.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196.0,6.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer
15,2293453,19,2,5,14,6.0,196.0,3.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
16,1973799,19,5,6,12,8.0,196.0,15.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
17,532817,19,7,4,17,6.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,9,New customer
18,1573906,21,10,3,10,6.0,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular customer
19,1593000,31,10,3,8,7.0,196.0,17.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,20,Regular customer
20,2231262,31,17,3,11,8.0,196.0,14.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,20,Regular customer
21,2580647,43,6,4,16,4.0,196.0,9.0,0.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,11,Regular customer
22,2187180,43,9,4,12,3.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,11,Regular customer
23,2497897,52,1,1,9,NaN,196.0,4.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,27,Regular customer
24,1318871,52,2,1,10,7.0,196.0,5.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,27,Regular customer
25,1261384,52,3,1,10,7.0,196.0,3.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,27,Regular customer
26,580568,52,5,2,10,8.0,196.0,6.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
27,2428073,52,7,2,7,8.0,196.0,5.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer
28,342306,52,9,1,11,7.0,196.0,5.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,27,Regular customer
29,1520353,52,10,2,10,8.0,196.0,4.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
30,2542086,52,11,2,9,7.0,196.0,3.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
31,944694,52,12,1,16,6.0,196.0,7.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,27,Regular customer
32,1268191,52,15,2,11,8.0,196.0,3.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
33,1122089,52,17,2,10,6.0,196.0,4.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
34,1498922,52,18,2,10,14.0,196.0,6.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
35,180919,52,19,3,8,8.0,196.0,4.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,27,Regular customer
36,2695875,52,21,5,10,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
37,3205960,67,1,3,11,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,24,Regular customer
38,970922,67,2,1,15,5.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer
39,596585,67,3,1,13,7.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer
40,2037087,67,4,2,9,8.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer
41,2474111,67,5,3,14,8.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,24,Regular customer
42,1568481,67,6,3,12,7.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,24,Regular customer
43,2048527,67,8,2,11,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer
44,2389031,67,9,2,14,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer
45,2378562,67,10,1,10,6.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer
46,1515698,67,11,1,11,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer
47,1928050,67,12,2,12,8.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer
48,1949274,67,13,1,10,6.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer
49,551869,67,14,1,9,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer
50,768572,67,16,4,10,9.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,24,Regular customer
51,150528,67,18,5,16,4.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer
52,29758,67,19,0,14,9.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest day,Most orders,24,Regular customer
53,1558976,67,21,1,9,5.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer
54,863974,67,22,1,11,14.0,196.0,3.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer
55,2308399,67,23,1,14,14.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer
56,2759128,81,3,1,9,14.0,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,7,New customer
57,1812985,81,5,2,20,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,7,New customer
58,1889835,82,1,3,15,NaN,196.0,6.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,19,Regular customer
59,499460,82,3,5,10,5.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,19,Regular customer
60,2728456,82,4,0,11,16.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest day,Most orders,19,Regular customer
61,2653743,82,6,4,9,13.0,196.0,5.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,19,Regular customer
62,1358880,82,9,1,10,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,19,Regular customer
63,343588,82,10,2,11,1.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,19,Regular customer
64,3034663,82,15,2,11,12.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,19,Regular customer
65,147262,82,18,1,13,7.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,19,Regular customer
66,3144004,82,19,2,15,8.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,19,Regular customer
67,2126069,98,3,0,9,25.0,196.0,7.0,0.0,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest day,Most orders,14,Regular customer
68,2210120,98,7,5,14,5.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,14,Regular customer
69,681011,98,9,3,9,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,14,Regular customer
70,2846344,98,11,4,13,15.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,14,Regular customer
71,747431,98,12,6,13,30.0,196.0,4.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,14,Regular customer
72,2383054,98,13,4,11,30.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,14,Regular customer
73,1993729,98,14,5,8,8.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,14,Regular customer
74,1403849,109,3,3,17,9.0,196.0,5.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,6,New customer
75,520620,120,1,3,11,NaN,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,3,New customer
76,3273029,120,3,2,8,19.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3,New customer
77,1861943,185,2,1,12,25.0,196.0,10.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,6,New customer
78,2040988,195,1,1,14,NaN,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,58,Loyal customer
79,1680569,195,8,1,9,4.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,58,Loyal customer
80,276171,195,19,5,11,3.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,58,Loyal customer
81,2744976,195,22,5,10,7.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,58,Loyal customer
82,2781919,195,25,1,14,4.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,58,Loyal customer
83,1738718,195,31,2,8,4.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,58,Loyal customer
84,3058369,195,34,3,10,6.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,58,Loyal customer
85,1485596,195,37,2,15,0.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,58,Loyal customer
86,417035,195,40,3,16,2.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,58,Loyal customer
87,1615297,195,47,5,10,2.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,58,Loyal customer
88,1765587,195,52,3,12,2.0,196.0,3.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,58,Loyal customer
89,745908,195,57,4,11,3.0,196.0,3.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,58,Loyal customer
90,2505656,222,17,2,12,1.0,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,70,Loyal customer
91,3268370,222,38,5,15,1.0,196.0,6.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,70,Loyal customer
92,2016711,290,9,5,19,6.0,196.0,8.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,51,Loyal customer
93,2706088,290,28,6,10,7.0,196.0,16.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,51,Loyal customer
94,1952286,331,6,5,16,30.0,196.0,8.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,8,New customer
95,3226575,360,1,5,12,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,3,New customer
96,1469869,377,3,5,17,3.0,196.0,9.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3,New customer
97,1927023,387,2,4,10,22.0,196.0,3.0,0.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,8,New customer
98,858092,420,4,1,19,30.0,196.0,2.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day,Average orders,22,Regular customer
99,119314,420,5,3,19,16.0,196.0,2.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,22,Regular customer

### 06. Deriving Columns with loc()

In [18]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [22]:
# Checking the output
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

### 07. Task 4.8

In [23]:
#2 Finding the aggregated mean of the “order_number” column grouped by “department_id” 
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### #3 All departments are included in the list from the entire df, the range of the mean is 15.2-22.9, for the subset:11.3-19.4

#### #4 creating a loyalty flag for existing customers using the transform() and loc() functions - see above chapter 05 & 06

In [26]:
#5 check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer)
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','max','min']})

                     prices
                       mean      max  min
loyalty_flag
Loyal customer    10.386336  99999.0  1.0
New customer      13.294670  99999.0  1.0
Regular customer  12.495717  99999.0  1.0

In [27]:
#6 Create a new column for average price spent for each user_id
ords_prods_merge['avg_price_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [28]:
# Derriving a column with loc()
ords_prods_merge.loc[ords_prods_merge['avg_price_spent'] < 10, 'spender_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['avg_price_spent'] >= 10, 'spender_flag'] = 'High spender'

In [29]:
# Checking the output
ords_prods_merge['spender_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spender_flag, dtype: int64

In [31]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,avg_price_spent,spender_flag
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender
5,3367565,1,6,2,7,19.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
6,550135,1,7,1,9,20.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low spender
7,3108588,1,8,1,14,14.0,196.0,2.0,1.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low spender
8,2295261,1,9,1,16,0.0,196.0,4.0,1.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low spender
9,2550362,1,10,4,8,30.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender
10,2968173,15,15,1,9,7.0,196.0,2.0,0.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low spender
11,1870022,15,17,2,16,8.0,196.0,6.0,1.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
12,1911383,15,18,2,11,7.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
13,2715276,15,21,1,9,7.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low spender
14,487368,15,22,1,10,14.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low spender

In [32]:
#7 Create a new column for the median in the “days_since_prior_order” column
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [34]:
# Derriving a column with loc()
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [35]:
# Checking the output
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [36]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,avg_price_spent,spender_flag,median_days_since_prior_order,order_frequency_flag
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,...,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,...,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,...,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,196.0,1.0,1.0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,196.0,1.0,1.0,Soda,...,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,196.0,2.0,1.0,Soda,...,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,196.0,4.0,1.0,Soda,...,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,196.0,1.0,1.0,Soda,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,196.0,2.0,0.0,Soda,...,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,196.0,6.0,1.0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,196.0,1.0,1.0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,196.0,1.0,1.0,Soda,...,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,196.0,1.0,1.0,Soda,...,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer

In [38]:
#9 Export data to pickle format
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_frequent_customer.pkl'))